/* Bella Rivera
  May 5, 2022
  CSE154 Section AH

  This is the styling page for my CP3 website. This gives the webpage a coherent
  theme, makes the buttons look nicer, and defines how the chosen activity will
  be displayed. */

body {
  background-color: #BDBDBD;
  background-size: cover;
  background-repeat: none;
}

body, button {
  font-family: 'Mali', sans-serif;
  color: #575757;
}

h1 {
  font-size: 64px;
  color: white;
  text-shadow: 7px 7px 2px #888888;
  margin: 10px;
}

.title {
  font-size: 42px;
}

main > section + section, #button-section, header, #intro, #display-box {
  display: flex;
}

header {
  margin-bottom: 40px;
}

#intro {
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

#intro p {
  padding-top: 20px;
  width: 70%;
}

p {
  font-size: 18px;
}

img {
  width: 200px;
}

.wide {
  width: 320px;
}

#button-section {
  justify-content: space-around;
  margin-left: 100px;
  margin-right: 100px;
}

.display, body {
  text-align: center;
}

#display-box {
  justify-content: center;
}

.display {
  width: 50%;
  margin-top: 100px;
  /* border: 4px solid white; */
  box-shadow: 10px 10px #888888;
}

.display, button {
  background-color: white;
}

.left {
  text-align: left;
  padding-left: 100px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 40px;
}

button {
  box-shadow: 5px 5px #888888;
  font-size: 17px;
  height: 50px;
  width: 100px;
  border: none;
}

.pink {
  background-color: #FFEEFB;
}

.peach {
  background-color: #FFEFE3;
}

.yellow {
  background-color: #FFFDDC;
}

.green {
  background-color: #EEFFE2;
}

.blue {
  background-color: #E2F9FF;
}

.purple {
  background-color: #EFE8FF;
}

footer p {
  font-size: 12px;
}

footer {
  width: 100%;
  top: 20;
  bottom: 0;
}

.abs {
  position: absolute;
}